<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Student</title>
</head>
<body>
<h1>New Student</h1>
<form action="#" th:action="@{/admin/students}" th:object="${student}" method="post">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" />
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" />
    </div>
    <div>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" />
    </div>
    <div>
        <label for="studentClass">Class:</label>
        <select id="studentClass" th:field="*{studentClass}">
            <option th:each="sc : ${studentClasses}" th:value="${sc}" th:text="${sc.displayName}"></option>
        </select>
    </div>
    <div>
        <label for="gender">Gender:</label>
        <select id="gender" th:field="*{gender}">
            <option th:each="g : ${genders}" th:value="${g}" th:text="${g.displayName}"></option>
        </select>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>
