<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
</head>
<body>
<h1>Students</h1>
<a href="/admin/dashboard" >return to dashboard</a>
<h1>   </h1>
<a href="/admin/students/new">Add New Student</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Class</th>
        <th>Gender</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.phoneNumber}"></td>
        <td th:text="${student.studentClass.displayName}"></td>
        <td th:text="${student.gender.displayName}"></td>
        <td>
            <a th:href="@{/admin/students/edit/{id}(id=${student.id})}">Edit</a>
            <a th:href="@{/admin/students/delete/{id}(id=${student.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
